{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
            {% for symbol in symbols %}
            <option value="" disabled selected hidden>Symbol</option>
            <option>{{ symbol }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
